@len-schemas:registry=https://pkgs.dev.azure.com/LennarCorp/VestacalcPlus/_packaging/len-schemas/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/LennarCorp/VestacalcPlus/_packaging/len-schemas/npm/registry/:username=LennarCorp
//pkgs.dev.azure.com/LennarCorp/VestacalcPlus/_packaging/len-schemas/npm/registry/:_password={{PAT_TOKEN}}
//pkgs.dev.azure.com/LennarCorp/VestacalcPlus/_packaging/len-schemas/npm/registry/:email=LennarCorp@Lennar.com
//pkgs.dev.azure.com/LennarCorp/VestacalcPlus/_packaging/len-schemas/npm/:username=LennarCorp
//pkgs.dev.azure.com/LennarCorp/VestacalcPlus/_packaging/len-schemas/npm/:_password={{PAT_TOKEN}}
//pkgs.dev.azure.com/LennarCorp/VestacalcPlus/_packaging/len-schemas/npm/:email=LennarCorp@Lennar.com
; end auth token